#top{
    color:rgb(132, 59, 201);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
h4 img {
    display :block;
    width: 500px;
    height: 500px;
    margin : 0 auto;
}
